[submodule "Erp_Integration_Airflow"]
	url = https://github.com/longbui99/Erp_Integration_Airflow.git
	path = integration
[submodule "ERP_FastAPI"]
	url = https://github.com/longbui99/ERP_FastAPI.git
	path = api
[submodule "Odoo_Timesheet_Engagement"]
	url = https://github.com/longbui99/Odoo_Timesheet_Engagement.git
	path = erp
[submodule "TimeExtension"]
	url = https://github.com/longbui99/Time-Extension
	path = extension
[submodule "Reporting"]
	url = https://github.com/longbui99/Visualization_Reporting
	path = report
[submodule "DNS & Loadbalancer"]
	url = https://github.com/longbui99/DNS-Loadbalancer
	path = dns_lb
[submodule "CICD"]
	url = https://github.com/longbui99/cicd.git
	path = cicd
	branch = 17.0
